.register__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 0;
  max-width: 1280px;

  display: grid;
  grid-template-columns: 396px;
  grid-template-rows: 38px min-content;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .register__container {
    padding: 232px 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .register__container {
    padding: 56px 0 30px;
    grid-template-columns: 80%;
  }
}

@media screen and (max-width: 320px) {
  .register__container {
    grid-template-columns: 260px;
  }
}

@media screen and (max-width: 280px) {
  .register__container {
    padding: 36px 0 20px;
    grid-template-columns: 90%;
  }
}
