.portfolio__link {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #fff;
  text-decoration: none;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  transition: opacity 0.4s linear;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
}

.portfolio__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 240px) {
  .portfolio__link {
    font-size: 9vw;
    line-height: 12vw;
  }
}
