.navigation__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 240px) {
  .navigation__item {
    text-align: center;
  }
}
