.form__btn-primary_type_padded {
  margin: calc(220px) 0 0;
}

@media screen and (max-width: 320px) {
  .form__btn-primary_type_padded {
    margin: 308px 0 0;
  }
}

@media screen and (max-width: 280px) {
  .form__btn-primary_type_padded {
    margin: 146px 0 0;
    font-size: 10px;
    line-height: 13px;
  }
}
