.promo {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #073042;
}

.promo_content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1280px;

  background-image: url(../../images/landing-logo.svg);
  background-position: center 82px;
  background-size: 320px 320px;
  background-repeat: no-repeat;
  height: 524px;
}

.promo__title {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 184px 0 224px 0;
  max-width: 740px;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
}
