.profile__input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;

  font-weight: 500;
  font-size: 11px;
  line-height: 13px;

  background-color: transparent;
  border: 0;
  color: #fff;
  text-align: right;
}

@media screen and (max-width: 240px) {
  .profile__label {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
  }
}
