.page-not-found__link {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  color: #4285F4;
  text-decoration: none;
  border: none;
  background-color: transparent;

  transition: opacity .4s linear;
}

.page-not-found__link::before {
  content: 'Назад';
  display: block;
}

.page-not-found__link:hover::before {
  transform: scale(1.05, 1.05);
}

.page-not-found__link:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .page-not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}
