.person__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
}

@media screen and (max-width: 768px) {
  .person__title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .person__title {
    padding: 20px 0 0;
    font-size: 30px;
    line-height: 36px;
  }
}
