.social {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.social__items {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
}

.social__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  text-decoration: none;
  color: #fff;
  text-align: right;
  transition: opacity 0.4s linear;
}

.social__link:hover {
  opacity: 0.6;
}
