.portfolio__link {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #fff;
  text-decoration: none;

  display: flex;
  justify-content: space-between;

  transition: opacity 0.4s linear;
}

.portfolio__link:hover {
  opacity: 0.6;
}
