.movies-card__btn_type_remove {
  width: 21px;
  height: 21px;

  background: #313131;
  border-radius: 30px;
  color: #fff;

  font-weight: normal;
  font-size: 10px;
  line-height: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-card__btn_type_remove::after {
  content: url(../../../../../../images/icons/cross.svg);
}
