.movies-card__btn_type_save {
  width: 72px;
  height: 21px;

  background: #313131;
  border-radius: 30px;
  color: #fff;

  font-weight: normal;
  font-size: 10px;
  line-height: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-card__btn_type_save::after {
  content: "Сохранить";
}

.movies-card__btn_type_save:hover::after {
  transform: scale(1.05, 1.05);
}
