.popup__container {
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  max-width: 410px;
  min-height: 120px;

  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 480px) {
  .popup__container {
    padding: 20px;
    max-width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    padding: 10px;
    max-width: 80%;
  }
}
