.movies-card__caption {
  box-sizing: border-box;
  margin: 0;
  padding: 0 14px;

  display: grid;
  grid-template-columns: 1fr 52px;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .movies-card__caption {
    padding: 0;
    gap: 37px;
  }
}

@media screen and (max-width: 480px) {
  .movies-card__caption {
    gap: 8px;
  }
}
