.techs__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 100px 70px;
  max-width: 1280px;
}

@media screen and (max-width: 960px) {
  .techs__container {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 320px) {
  .techs__container {
    padding: 70px 18px;
  }
}

@media screen and (max-width: 240px) {
  .techs__container {
    padding: 50px 10px;
  }
}
