.progress__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .progress__title {
    font-weight: normal;
  }
}

@media screen and (max-width: 320px) {
  .progress__title {
    font-size: 11px;
    line-height: 13px;
  }
}
