.navigation__wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: end;
  justify-items: end;
  align-items: center;
  align-content: center;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  .navigation__wrapper {
    grid-template-columns: 1fr;
  }
}
