.profile__input-error {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;

  visibility: hidden;
  opacity: 0;

  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  transition: all 0.4s linear;

  grid-column: 2 / 3;
}
