.profile__btn {
  box-sizing: border-box;
  margin: 0 0 16px;
  padding: 0;

  display: block;
  border: none;
  background-color: transparent;
  color: #fff;

  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  transition: opacity .4s linear;
}

.profile__btn:hover {
  opacity: .6;
  transform: scale(1.02, 1.02);
  cursor: pointer;
}
