.profile__btn {
  box-sizing: border-box;
  margin: 0 0 16px;
  padding: 0;

  display: block;
  border: none;
  background-color: transparent;

  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}
