.header__button {
  box-sizing: border-box;
  margin: 0 0 0 30px;
  padding: 8px 20px;
  border: none;
  background-color: #3ddc84;
  border-radius: 3px;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  transition: opacity 0.4s linear;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .header__button {
    display: none;
  }
}
