.navigation__wrapper_mode_tablet {
  box-sizing: border-box;
  margin: 0;
  padding: 22px 0 92px;

  position: absolute;
  top: 0;
  right: 0;
  background-color: coral;
  background-color: #202020;

  height: 100vh;
  z-index: 10;

  display: grid;
  grid-template-columns: minmax(max-content, 520px);
  grid-template-rows: repeat(2, min-content) 1fr;
  justify-items: center;

  transition: padding-bottom 0.3s linear;
}

@media screen and (max-width: 320px) {
  .navigation__wrapper_mode_tablet {
    padding: 14px 0 48px;
  }
}
